.red-circle {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background: #bc002d;

    /*
    Challenge:
    Translate this into using the margin shorthand.
    */
    margin: 40px 0px 0px 100px;
}
