h1 {
    color: lightpink;
}

body {
    background-color: white;
    font-family: "Roboto";
    color: lightpink;
    text-align: center;
}

button {
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: hotpink;
    color: white;
    font-weight: bold;
}

#password-display {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 20px;
    gap: 12px;
}

.password {
    border: none;
    background-color: deeppink;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password:hover {
    border: none;
    background-color: deeppink;
    border-radius: 10px;
    width: 250px;
    height: 37.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="range"]::-moz-range-track {
    background: #ccc;
    height: 5px;
    border-radius: 5px;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: hotpink;
    border-radius: 50%;
    border: none;
}
