body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

input {
    height: fit-content;
    width: fit-content;
    text-align: center;
    font-size: 50px;
    border: 1px solid white;
    background: linear-gradient(135deg, #3b82f6, #6366f1, #8b5cf6);
    color: white;
    font-weight: bold;
    padding: 20px;
}

button {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: white;
    font-size: 15px;
}

.output-container {
    background-color: white;
    color: darkslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    margin: 30px auto;
    max-width: 700px;
    max-height: 80px;
}

#bottom-container {
    background-color: whitesmoke;
}

#top-container {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #3b82f6, #6366f1, #8b5cf6);
    color: white;
}

.input-value-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type="number"] {
    -moz-appearance: textfield;
}
