/* Complete the CSS styling according to the provided design */

body {
    text-align: center;
    color: white;
    font-size: 30px;
    background-color: green;
    font-family:
        "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
        Arial, sans-serif;
}

h1 {
    color: goldenrod;
}

#message-el {
}
